body {
    background-color: #0e0e10;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #111827;
}

.navbar-brand {
    color: #00bfff !important;
    font-size: 1.3rem;
}

/* Banner */
.banner {
    background: #3881bd;
    height: 25vh;
}

/* Botones */
.btn-primary {
    background-color: #2563eb;
    border: none;
}
.btn-primary:hover {
    background-color: #1d4ed8;
}

h2 {
    color: #0099ff; /* turquesa gamer */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Footer */
footer {
    background-color: #111827;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
